.gis-container {
  width: 87vw;
  height: 90vh;
  margin: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
